.App {
  background-color: black;
}
.all-theatres {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(87, 87, 87);
  justify-content: space-between;
}
.all-theatres div {
  display: flex;
  margin: 10px;
}
.content {
  margin: auto;
  max-width: 1300px;
  min-height: 100vh;
}
.find-a-theatre {
  background-color: black;
  border: 1px solid white;
  color: white;
  margin: auto;
}
h1 {
  font-family: gordita, Helvetica, sans-serif;
  font-weight: 900;
  margin-left: 10px;
}
h4 {
  color: white;
}
.searchbar {
  border-bottom: 1px solid white;
  display: flex;
  margin: auto;
  height: 40px;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
}
.searchbar input {
  border: transparent;
  background-color: transparent;
  height: 40px;
  width: 100%;
  color: white;
  font-size: 20px;
}
.input-div {
  width: 80%;
}
.searchbar button {
  border: transparent;
  background-color: transparent;
  width: 50px;
  height: 100%;
  padding-bottom: 8px;
  text-align: right;
}
.searchbar img {
  height: 100%;
}
.all-theatres-box-size {
  width: 800px;
  /* border: 1px solid white; */
}
a {
  text-decoration: none;
  color: #00a8e1;
  white-space: nowrap;
}
a:hover {
  color: white;
}
ul {
  list-style-type: none;
  font-weight: 600;
  font-size: 14px;
  font-family: sans-serif;
  width: 170px;
  padding-left: 0;
  text-align: left;
}
li {
  margin-bottom: 1.25rem;
}
.markets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* border: 1px solid white; */
}
.markets-div {
  /* border: 1px solid white; */
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  justify-content: space-around;
}
.states {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.states-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 50%;
}
.state p {
  font-size: 18px;
}
.navLinks {
  align-items: center;
  /* border: 1px solid white; */
}
.navLinks h4 {
  margin: 5px;
}
h4:hover {
  border-bottom: 2px solid white;
}
.nav-and-search {
  margin-bottom: 30px;
  margin-top: 140px;
}
